{% comment %} <h1>Hello Oncodash<h1\> {% endcomment %}

{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom CSS -->
    {% comment "Load your css like so" %}
      <link rel="stylesheet" href="{% static 'css/my/app/app.css' %}">
    {% endcomment %}

    <title>Hello, Oncodash!</title>
    </head>
    <body>
    <h1>Hello, Oncodash!</h1>


    {% comment %} "front-end framework code" %}
    {% endcomment %}
    <script src="{% static '../../../oncodash-app/src/Oncoview.ts' %}"></script>



  </body>
</html>