## editors
**/.idea
**/.vscode

## system files
.DS_Store

##letsencrypt
data/

##data
backend/clinical_export*

## npm
node_modules/
/npm-debug.log

## testing
/coverage/
.coverage
.coveragerc

## temp folders
/.tmp/

# build
/_site/
/dist/
out-tsc/

storybook-static
custom-elements.json

__pycache__
*/db.sqlite3
notebooks
nbs
.env

**/build/
**/env/

**/django.log
**/package-lock.json

**/backendEnv/

**/migrations/

**/*.csv

backend/db.sqlite3-journal