version: "3.2"

services:
  # nodeserver
  nodeserver:
    image: oncodash/nodeserver
    user: $UID:$GID
    build:
      context: ./oncodash-app
      dockerfile: ./Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - type: bind
        source: ./oncodash-app
        target: /opt/node_app/app

        # this is a workaround to prevent host node_modules from accidently
        # getting mounted in container in case you want to use node/npm both
        # outside container for test/lint etc. and also inside container this
        # will overwrite the default node_modules dir in container so it won't
        # conflict with our /opt/app/node_modules location.
      - type: volume
        source: notused
        target: /opt/node_app/app/node_modules

  # django backend gunicorn server (communicates with nginx proxy)
  backend:
    image: oncodash/backend
    user: $UID:$GID
    build:
      context: ./backend
      dockerfile: ./Dockerfile
    ports:
      - "8888:8888"
    volumes:
      - type: bind
        source: ./backend
        target: /opt/app/

  # nginx proxy server
  nginx:
    image: oncodash/nginx
    restart: always
    build:
      context: ./nginx
      dockerfile: ./Dockerfile
    ports:
      - "80:80"
    depends_on:
      - nodeserver
      - backend

volumes:
  notused:



