h1, h2, h3 {
    margin-bottom:0.5em;
    font-variant:small-caps;
}

h1 {
    margin-top:2em;
    text-transform: none;
    font-variant:small-caps;
}

h2 {
    margin-top:1.5em;
    font-size:1.5em;
    padding-bottom:2px;
    border-bottom: thin solid #e44c2c;
}

h3 {
    margin-top:1em;
    font-size: 1.3em;
}

p {
    line-height:1.2em;
    margin-bottom:0em;
    margin-top:0.7em;
}

#main {
    text-align:justify;
}

.excerpt {
    font-size:1.2em;
    font-weight:bold;
    border-left:3px solid #e44c2c;
    padding-left:1em;
    padding-right:1em;
}

figure {
    width:90%;
    margin:5%;
}

figure > img {
    width:100%;
}

figcaption {
    font-style:italic;
    font-size:0.95em;
    text-align:center;
    margin-left:10%;
    margin-right:10%;
    margin-top:0.8em;
}

.twosubfigs > img {
    text-align:center;
    width: 44.8%;
}

.subfigures > img {
    display:inline-block;
    margin-left: 2.5%;
    margin-right:2.5%;
}

code {
    margin-top:1em;
    margin-bottom:1em;
    margin-left:2em;
    margin-right:2em;
    display:block;
    padding:1em;
    background-color:#111;
    color:#e86;
    font-family:monospace;
    white-space:pre-wrap;
}
